/* font-family: 'Roboto', sans-serif; */

/*Top Feature*/
*{
	box-sizing: border-box;
}
.top{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 4;
}
.top ion-icon{
    font-size: 50px;
    margin-right: 22px;
}
.logo{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}


/*Chat Part*/
.chat{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 80px;
    background-color: #E5E5E5;
}
.message{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    min-height: 40px;
    padding: 0 8px;
    margin-bottom: 4px;
    word-break: break-all;
    background-color: #fff;
    border-radius: 2px;
}
.message:last-child{
    margin-bottom: 84px;
}
.message p{
    font-family: 'Roboto', sans-serif;
}
.time{
    color: #AAA;
    margin-right: 6px;
}
.users{
    font-weight: 700;
}
.private-message{
    background-color: #FFDEDE;
}
.enter-leave{
   background-color: #DCDCDC; 
}




/*Menu Login*/
.menu{
    width: 100vw;
    height: 100vh;   
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-menu{
    width: 130px;
    margin-top: 72px;
}
.middle-menu{
    display: flex;
    flex-direction: column;
    margin-top: 94px;
}
.format-button{
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border-radius: 9px;
    border:none;
    font-family: 'Roboto', sans-serif;
    color: #696969;
    outline: none;
    margin: 15px auto 0px auto;
}
.middle-menu input{
    width: 261px;
    height: 54px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d7d7d7;
}
.middle-menu input::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
    line-height: 25px;
}
.type-menu input:-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
    line-height: 25px;
}
.type-menu input::-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #AEAEAE;
    text-align: center;
    line-height: 25px;
}

/* Sidebar Feature*/
.blackscreen{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index: 5;
    position: fixed;
    top: 0;
}
.sidebar{
    width: 70vw;
    height: 100vh;
    background-color: #fff;
    z-index: 6;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.sidebar-tittle h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    flex-direction: column;
    font-size: 25px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.everyone{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}
.everyone ion-icon{
    color: #000;
    font-size: 30px;
}
.everyone p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.participants{
    margin-top: 10px;
    word-break: break-all;
    justify-content: space-between;
}
.participants p{
    margin-left: 10px;
}
.participants ion-icon:last-child{
    margin-right: 15px;
    color: green;
    opacity: 0;
}
.participants .changeopacity:last-child{
    opacity: 1;
}
.aaa{
    display: flex;
    align-items: center;
}
.sidebar-tittle .participants{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.participants ion-icon{
    color: #000;
    font-size: 30px;
}


/*Hidden Feature*/
.hidden{
    display: none;
}


/*Send Message Feature*/
.type-menu{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4;
    background-color: white;
}
.type-menu ion-icon{
    margin-right: 18px;
    font-size: 34px;
}
.type-menu input{
    margin-left: 22px;
    border:none;
    outline: none;
    width: 80%;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
}
.type-menu input::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: #000;
}
.type-menu input:-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: #000;
}
.type-menu input::-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: #000;
}